.ant-form-item .ant-form-item-label >label {
    color: rgb(153 153 153) !important;
}

.ant-pro-global-footer-copyright {
    color: #888 !important;
}

.ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected {
    color: #0476e7 !important;
}

.ant-menu-item.ant-menu-item-selected{
    color: #0476e7 !important;
}