.ant-form-item .ant-form-item-label >label {
    color: rgb(153 153 153) !important;
}

.ant-pro-global-footer-copyright {
    color: #888 !important;
}

.ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected {
    color: #0476e7 !important;
}

.ant-menu-item.ant-menu-item-selected{
    color: #0476e7 !important;
}

.milkdown .ProseMirror {
    padding: 20px 20px 20px 70px !important;

    h1 { font-size: 36px !important; margin-top: 16px !important; }
    h2 { font-size: 24px !important; margin-top: 16px !important; }
    h3 { font-size: 18px !important; margin-top: 10px !important; }
    h4, h5, h6 { font-size: 16px !important; margin-top: 10px !important; }
}

.ant-page-header{
    .ant-breadcrumb{
        display: none !important;
    }
}

.ant-pro-query-filter-container .ant-btn-primary{
    background-color: #d9dfeb !important;
    color: var(--ant-button-default-color);

    &:hover{
        background-color: #dfe8f9 !important;
        color: #2a4e96 !important;
    }
}


.ant-menu-submenu-popup.ant-menu-submenu {
    background: #ffffffe3 !important;
}